<div class="project modal" id="high-end">
    <div class="project__container container">
        <button class="back-to btn-reset">
            <svg width="8" height="24" viewBox="0 0 13 29" fill="none">
                <path d="M12 28L2 14.5L12 1" stroke="white" stroke-width="2" />
            </svg>
            Back
        </button>
        <div class="project__content">
            <div class="section-label to-left">
                <span>High End Property</span>
            </div>
            <div class="project__block block-project">
                <div class="block-project__image">
                    <img src="img/services/image-2.jpeg" width="556" height="478"
                        alt="Luxurious Property Project Management & Construction.">
                </div>
                <div class="block-project__info">
                    <h1 class="block-project__title section-title">High End Property Project Management &
                        Construction.</h1>
                    <div class="block-project__desc">
                        <p>Dov Kram Ltd construction company is one that is known for its high-quality work,
                            attention to detail, and customer satisfaction. We employ skilled and
                            experienced professionals who are able to handle all aspects of the construction
                            process, from initial planning and design to final completion and cleanup. We
                            use the best materials and techniques to ensure that the finished product is
                            durable, functional, and aesthetically pleasing.</p>
                        <p>Dov Kram Ltd is also known for its reliability and professionalism, completing
                            projects on time and within budget. Overall, Dov Kram Ltd is one that is highly
                            regarded in the industry and trusted by its clients to deliver exceptional
                            results.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>