<section class="team section-animation">
    <div class="team__container container">
        <div class="section-label to-left">
            <span>Our Team</span>
        </div>
        <div class="team__content">
            <h2 class="team__title section-title">Our Team</h2>
            <div class="team-slider swiper">
                <div class="team__grid swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team__card card-team">
                            <div class="card-team__image">
                                <picture>
                                    <source srcset="img/team/image-1.webp" type="image/webp">
                                    <img width="216" height="325" src="img/team/image-1.jpeg">
                                </picture>
                            </div>
                            <h3 class="card-team__name">Abraham Chacra</h3>
                            <span class="card-team__pos">VP of Administration</span>
                            <p class="card-team__desc">Leads Administrative and Back Office Operations.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team__card card-team">
                            <div class="card-team__image">
                                <picture>
                                    <source srcset="img/team/image-2.webp" type="image/webp">
                                    <img width="216" height="325" src="img/team/image-2.jpeg">
                                </picture>
                            </div>
                            <h3 class="card-team__name">Elyashiv Kimchi</h3>
                            <span class="card-team__pos">COO</span>
                            <p class="card-team__desc">Manages day to day Operations of the Company and On Site
                                Management.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team__card card-team">
                            <div class="card-team__image">
                                <picture>
                                    <source srcset="img/team/image-3.webp" type="image/webp">
                                    <img width="216" height="325" src="img/team/image-3.jpeg">
                                </picture>
                            </div>
                            <h3 class="card-team__name">Dov Kram</h3>
                            <p class="card-team__desc">CEO and Founder of Dov Kram LTD.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team__card card-team">
                            <div class="card-team__image">
                                <picture>
                                    <source srcset="img/team/image-4.webp" type="image/webp">
                                    <img width="216" height="325" src="img/team/image-4.jpeg">
                                </picture>
                            </div>
                            <h3 class="card-team__name">Liron Dotan</h3>
                            <span class="card-team__pos">VP of Relations and Purchasing</span>
                            <p class="card-team__desc">Manages Negotiations and Contact with all Suppliers and Service
                                Providers.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team__card card-team">
                            <div class="card-team__image">
                                <picture>
                                    <source srcset="img/team/image-5.webp" type="image/webp">
                                    <img width="216" height="325" src="img/team/image-5.jpeg">
                                </picture>
                            </div>
                            <h3 class="card-team__name">Sarit Izhakian</h3>
                            <span class="card-team__pos">CFO</span>
                            <p class="card-team__desc">Manages Financial Operations of the Company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>